<form action="" method="post" accept-charset="utf-8">
  
  <p>Message <input type="text" name="payload[message]" value="" id="payload_message"></p>
  <p>Second Message <input type="text" name="payload[second_message]" value="" id="payload_second_message"></p>
  <p><input type="submit" value="Continue &rarr;"></p>
</form>